<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<title>编辑</title>
<link th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"></link>
<link rel="stylesheet" th:href="@{/resource/plugins/position-validate/css/validationEngine.jquery.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
<script th:src="@{/resource/plugins/position-validate/js/jquery.validationEngine-zh_CN.js}"></script>
<script th:src="@{/resource/plugins/position-validate/js/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/resource/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/resource/js/edit.js}"></script>
<style type="text/css">
html { overflow-x: hidden; overflow-y: auto; }
</style>
</head>
<body>
<div class="container-fluid" style="padding: 30px;">
	<div class="row">
		<form data="editForm" class="form-horizontal" id="saveObjForm">
			<input type="hidden"  name="id" th:value="${sysDict.id}"/>
    		<table class="table table-bordered" >
        		<tr>
            		<td  class="text-r" style="width: 15%">名称</td>
            		<td>
			     		<input type="text" style="width:20%" name="name"  placeholder="请输入名称" th:value="${sysDict.name}" class="form-control validate[required]"/>
            		</td>
        </tr>
        		<tr>
            		<td  class="text-r" style="width: 15%">key值</td>
            		<td>
			     		<input type="text" style="width:20%" name="key"  placeholder="请输入key值" th:value="${sysDict.key}" class="form-control validate[required]"/>
            		</td>
        </tr>
        		<tr>
            		<td  class="text-r" style="width: 15%">value值</td>
            		<td>
			     		<input type="text" style="width:20%" name="value"  placeholder="请输入value值" th:value="${sysDict.value}" class="form-control validate[required]"/>
            		</td>
        </tr>
        		<tr>
            		<td  class="text-r" style="width: 15%">是否多级 1是 2否</td>
            		<td>
			     		<input type="text" style="width:20%" name="isMoreLevel"  placeholder="请输入是否多级 1是 2否" th:value="${sysDict.isMoreLevel}" class="form-control validate[required]"/>
            		</td>
        </tr>
        		<tr>
            		<td  class="text-r" style="width: 15%">说明</td>
            		<td>
			     		<input type="text" style="width:20%" name="remark"  placeholder="请输入说明" th:value="${sysDict.remark}" class="form-control validate[required]"/>
            		</td>
        </tr>
        		<tr>
            		<td  class="text-r" style="width: 15%">是否删除</td>
            		<td>
			     		<input type="text" style="width:20%" name="isDelete"  placeholder="请输入是否删除" th:value="${sysDict.isDelete}" class="form-control validate[required]"/>
            		</td>
        </tr>
        		<tr>
            		<td  class="text-r" style="width: 15%">创建人</td>
            		<td>
			     		<input type="text" style="width:20%" name="createUserId"  placeholder="请输入创建人" th:value="${sysDict.createUserId}" class="form-control validate[required]"/>
            		</td>
        </tr>
        		<tr>
            		<td  class="text-r" style="width: 15%">创建时间</td>
            		<td>
			     		<input type="text" style="width:20%" name="createTime"  placeholder="请输入创建时间" th:value="${sysDict.createTime}" class="form-control validate[required]"/>
            		</td>
        </tr>
        		<tr>
            		<td  class="text-r" style="width: 15%">修改时间</td>
            		<td>
			     		<input type="text" style="width:20%" name="updateTime"  placeholder="请输入修改时间" th:value="${sysDict.updateTime}" class="form-control validate[required]"/>
            		</td>
        </tr>
        		<tr>
            		<td  class="text-r" style="width: 15%">修改人</td>
            		<td>
			     		<input type="text" style="width:20%" name="updateUserId"  placeholder="请输入修改人" th:value="${sysDict.updateUserId}" class="form-control validate[required]"/>
            		</td>
        </tr>
    </table>
   </form>
</div>
</div>
</body>
</html>